@import url(./normalise.css);

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1460px;
  padding: 0 200px;
  margin: 0 auto;
}

.header {
  background-color: #1f2937;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid grey;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-size: 20px;
  color: #ffffff;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav__link {
  color: #ffffff;
}

.hero {
  background-color: #1f2937;
  padding: 50px 0 100px 0;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
  color: #ffffff;
}

.hero__text {
  width: 500px; 
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

.btn {
   width: 100px;
   height: 20px;
   border-radius: 5px;
   color: #ffffff;
   padding: 15px 5px;
   background-color: #3B81F6;
}

.ambassadors {
   padding-top: 40px;
   margin-bottom: 100px;
}

.ambassadors__title {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.ambassadors__list {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.ambassadors__item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ambassadors__box {
   width: 150px;
   height: 150px;
   border: 3px solid #3B81F6;
   border-radius: 10px;
}

.ambassadors__descr {
   width: 150px;
}

.footer {
   background-color: #1f2937;
   padding: 20px 0 20px 0;
}

.footer__copyright {
   display: flex;
   justify-content: center;
   color: #ffffff;
}